body {
    font-family: "Yu Gothic";
}
#backgroundvideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -999;
    padding: 0;
    margin: 0;
}
.hometitle {
    color: white;
}
#hometitle1 {
    font-size: 8vw;
    text-shadow: 5px 5px black;
}
#hometitle2 {
    font-size: 2.5vw;
    margin-left: 0.6vw;
    text-shadow: 2.5px 2.5px black;

}
#divtitle {
    padding-top: 30vh;
    padding-left: 10vw;
}
#cpslogo {
    width: 10vw;
}
.navbar-brand {
    font-size: 2vw;
}
.nav-link {
    color: #777777;
    font-size: 1.4vw;
    margin-left: 0.5vw;
}
.navbar-nav {
    margin-left: 2vw !important;
}
.active {
    color: black;
}

.slider {
    margin: 0 auto;
    width: 100%;
    height: 50%;
    overflow: hidden;
}
.slides {
    width: 500%;
    height: 400px;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    width: 20%;
    position: relative;
    transition: 2s;
}
.slide img {
    width: 100vw;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    margin-left: 550px;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 40px;
    transition: 0.5s;
}
.manual-btn:hover {
    background-color: white;
}
#radio1:checked ~.first {
    margin-left: 0;
}
#radio2:checked ~.first {
    margin-left: -20%;
}
#radio3:checked ~.first {
    margin-left: -40%;
}
#radio4:checked ~.first {
    margin-left: -60%;
}
#radio5:checked ~.first {
    margin-left: -80%;
}
.navigation-auto div {
    border: 2px solid #20a6FF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 40px;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    margin-left: 550px;
    justify-content: center;

}
#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: white;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: white;
}
#radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: white;
}

#sobrecontent {
    background-color: #f8f9fa;
}

.sobretitle {
    font-size: 3vw;
    padding-top: 2vw;
    padding: 20px;
}
.sobretext {
    font-size: 1vw;
    padding: 0 20px 100px 20px;
}
.hidden {
    opacity: 0;
}
#footer {
    width: 100%;
    background-color: #222222;
    color: white;
    padding: 20px;
    text-align: left;
}
#footertext {
    margin-left: 15vw;
}
#footercontent {
    margin-left: 73vw;
}
#footerimage1 {
    width: 7vw;
    margin-top: 0.5vw;
    margin-left: 8vw;
    position: absolute;
}
#footerimage2 {
    width: 7vw;
}
#histdiv {
    display: flex;
}
#histimage1 {
    border: 3px solid black;
    width: 30vw;
    margin-left: 15vw;
    margin-bottom: 5vw;
}
#histimage2 {
    border: 3px solid black;
    width: 30vw;
    margin-left: 7.5vw;
    margin-bottom: 5vw;
}
